@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --font-jersey10:"Jersey 10", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --color-primario:#333333;
    --color-secundario: #FFFFFF;
    --color-terciario:#57B82B;
}

body{
    background-color: var(--color-terciario);
}

.header{
    padding: 1% 0% 0% 1%;
    background-color: var(--color-primario);

}

.header__menu{
    display:flex;
    gap: 80px;
}

.header__menu_link{
    color: var(--color-secundario);
    font-family: var(--font-jersey10);
    font-size: 4rem;
    text-decoration: none;
}

.header__redes{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.header__redes__link{
    display: flex;
    align-items: center;
    background-color:aqua;
    color: var(--color-secundario);

}

.header__logo{
    width: 9rem;
}



p{
    font-family: var(--font-montserrat);
}

.footer{
    background-color: var(--color-primario);
}



