@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fuente-jersy10:"Jersey 10", sans-serif;
    --fuente-roboto:"Roboto", sans-serif;
    --color-primario:#333333;
    --color-secundario:#85D13E;
    --color-terciario:#FEFFFE;
    --color-cuter: #000000;
    --border-bottom: 2px solid var(--color-secundario);
}

*{
    padding: 0;
    margin: 0;
}

body{
    size: 100vh;
    box-sizing: border-box;
    background-color: var(--color-primario);
    min-width: 400px;
}

.header{
    width: 100%;
}

.header__redes{
    padding: 5px;
    display: flex;
    background-color: var(--color-secundario);
    padding: 0.5%;
    gap: 10px;
}

.header__redes__lik{
    color: var(--color-primario);
    size: 1rem;
    text-decoration: none;
}

.header__menu{
    font-size: 3rem;
    font-family: var(--fuente-jersy10);
    padding: 0% 2% 0% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-bottom: var(--border-bottom);
}

.header__menu__link__logo{
    width: 9rem;
}

.header__menu__link{
    text-decoration: none;
    color: var(--color-terciario);
    display: flex;
    padding: auto;
}

.presentacion{
    display: block;
    align-items: center;
    font-family: var(--fuente-jersy10);
    color: var(--color-terciario);
    font-weight: 400px;
    border-bottom: var(--border-bottom);
}

.presentacion_video{
    filter: blur(0.5px);
}

.presentacion__texto{
    display: flex;
    align-items: center;
    padding: 0% 25% 5%;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_h1{
    font-family: var(--fuente-jersy10);
    justify-content:space-between;
    font-size: 6rem;
    color: var(--color-terciario);
}

.presentacion__slogan{
    font-size: 2rem;
    font-family: var(--fuente-roboto);
}

.presentacion__about_subtitulo{
    color: var(--color-terciario);
    font-size: 2rem;
    font-family: var(--fuente-jersy10);
    background-color: var(--color-secundario);
}

.presentacion__about__parrafo{
    font-size: 1.2rem;
    font-family: var(--fuente-roboto);
    color: var(--color-terciario);
}

.footer{
    padding: 5px;
    display: flex;
    color: var(--color-primario);
    font-family: var(--fuente-roboto);
    background-color: var(--color-secundario);
    justify-content: center;
}


